.country{
    border: 2px solid blue;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    /* text-align: center; */
}
.country-visited{
    background-color: aliceblue;
    color: black;
}